button {
  outline: none;
  width: 255px;
  height: 50px;
  border: none;
  border-radius: 100px;
  background-color: black;
  color: white;
  font-family: 'Gilroy',sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18.36px;
  line-height: 130%;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.round-title {
  position: relative;
  svg {
    position: absolute;
    top: -7px;
    left: -20px;
  }
}

.header-info-top {
  display: flex;
  align-items: center;
  svg {
    margin-right: 6px;
  }
}

.adress {
  width: 370px;
  display: flex;
  align-items: center;
  svg {
    margin-right: 19px;
  }
}

.header-info-bottom {
  display: flex;
  align-items: center;
  svg {
    margin-right: 6px;
  }
}

@media screen and (max-width: 768px){
  button {
    font-size: 16px !important;
    width: 223.91px !important;
  }

}





.header {
  padding: 32px 0 28px 0;

  .container {
    padding: 0;
  }

  .row {
    align-items: center;
  }

  .col-xxl {
    display: flex;
    justify-content: center;
  }

  .button {
    justify-content: flex-end !important;
    display: flex;
  }

  .logo-container {
    display: flex;
    justify-content: flex-start !important;

  }


  .logo {
    display: flex;
    align-items: center;

    h2 {
      font-style: normal;
      font-weight: 800;
      font-size: 29.376px;
      line-height: 130%;
    }

    svg {
      margin-right: 15px;
    }

  }

}


.intro {

  background-image: url("../img/bg-intro.png");
  background-position: center;
  background-size: cover;
  height: 100vh;



  .row,.col-xl-9 {
    padding: 0;
  }



  .intro-block {
    height: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    //background-color: red;

    h1 {
      font-size: 85px;
      line-height: 130%;
    }
  }
  .block-text {
    padding-top: 111px;

  }
}




.next, .prev {
  cursor: pointer;
}



.slider {
  position: relative;
  padding: 150px 0;

  .arrows {
    display: flex;
    width: 188px;
    justify-content: space-between;
  }

  .slider-title {
    display: flex;
    justify-content: space-between;

  }


  //.slider-item-img {
  //  width: 160px;
  //  height: 226px;
  //}

  .swiper-slide {
    width: 160px !important;
    height: 226px;

  }

  .swiper-container {
    position: absolute;
    top: 276px;
    right: 0;
    width: 800px !important;
    height: 226px;
  }


  &-info {
    h4 {
      margin-top: 60px;
    }

    p {
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }

}
.about {
  padding-bottom: 202px;

  .row {
    padding: 0;
  }

  .images {
    position: relative;
    padding-right: 60px;
    img {
      //height: 456px;
    }
    .dots {
      position: absolute;
      right: 346px;
      top: 56px;

    }
  }
  .about-flex {
    display: flex;
    justify-content: flex-start;
  }
  .about-text {
    display: flex;
    align-items: center;

    div {

    }

    p {
      padding-top: 60px;
    }
  }
}





.contact-us {

  padding-bottom: 150px;

  &-info {
    padding-left: 129.56px;

    padding-top: 130px;

  }

  .form-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  h3 {
    padding-bottom: 60px ;
  }

  .round-title {
    padding-bottom: 30px;
    padding-right: 30px;
  }


  form {
    height: 290px;
    width: 540.23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      width: 100% !important;
    }
    input {

        border-radius: 100px;
      border: 1px solid #2F3A3C;
      height: 50px;
    }

  }

  .info {
    .header-info-top {
      margin-bottom: 30px;
    }
    .header-info-bottom {
      margin-bottom: 32px;
    }
    .adress {

    }

  }
}






footer {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col-xxl {
    margin-bottom: 0;
  }

  padding: 30px 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.66)), linear-gradient(106.71deg, rgba(215, 107, 255, 0.6) 0%, rgba(1, 141, 202, 0.6) 100%);

  .col-xxl {
    padding: 0;
  }

  .link {
    display: flex;
    justify-content: flex-end;
  }
}
