a {
  font-family: 'Gilroy',sans-serif;
  font-size: 18.36px;
  font-style: normal;
  font-weight: 800;
  line-height: 134%;
}
h1,h2,h3,p {
  font-family: 'Gilroy',sans-serif;
}
p {
  font-size: 18.36px;
  line-height: 130%;
}

img {
  width: 100%;
}