a {
  font-family: 'Gilroy',sans-serif;
  font-size: 18.36px;
  font-style: normal;
  font-weight: 800;
  line-height: 134%;
}
h1,h2,h3,h4,p {
  font-family: 'Gilroy',sans-serif;
}
p {
  font-size: 18.36px;
  line-height: 130%;
}

h3 {
  font-size: 51px;
  line-height: 130%;
}

h4 {
  font-size: 29.376px;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1204.02px;
}

@media (max-width: 768px){
  h1 {
    font-size: 32px !important;
  }

  h3 {
    font-size: 32px !important;
  }

  h4 {
    font-size: 24px  !important;
  }

  .row {
    padding-left: 21.38px !important;
    padding-right: 21.38px !important;
  }

  .header-info-top, .header-info-bottom {
    margin-bottom: 15px !important;
  }

}